// Variables Use this section to set up commonly used style elements - font-family, font-size, color scheme, etc.

$base-color: #333;

$link-color: #22ace0;
$link-hover-color: #d92562;
$link-visited-color: purple;

$base-font-family: 'Montserrat', sans-serif;;
$base-font-size: 100%;
$base-font-weight: 400;
$line-height: 1.5;

$heading-font-family: 'Montserrat', sans-serif;;
$heading-font-weight: 100;

$vertical-measure: 1.5;

$border-color: #ddd;
$text-color: #333;

$button-color: #22ace0;

$greytrans: rgba(100,100,100,0.7);
$white: #fff;